body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:whitesmoke;
    margin: 4rem;

}

#target {
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.nav ul {
    display: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 1rem;
    
}

header {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
    /* margin-top: 2rem !important;
    margin-left: 2rem;    */
}

.logo {
    align-content: center;
    align-items: center;
    margin-right: 1rem;
}
