body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 4rem; */

}

main {
    margin: 4rem;

}

#target {
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.nav ul {
    display: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.articleExt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside p {
    max-width: 200px;
    margin: 1rem 2rem;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 1rem;
    
}

header {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    width: 100%;
    margin: 4rem;

}

.logo {
    align-content: center;
    align-items: center;
    margin-right: 1rem;
}


@media screen and (min-width: 2100){
    aside p {
        max-width: 200px;
        margin: 0rem 1rem;
    }
    
}
@media screen and (max-width: 1705){
    aside p {
        max-width: 97px;
        margin: 1rem 3rem;
    }
    
}