.slideshow-module--imageBG--4954e > div >
button.slick-arrow,
.slick-prev {
    color: black !important;
}

.objectContain {
    object-fit: contain;
    object-position: 50% 50%;
}

.objectCover {
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 50%;
}

.objectScaleDown {
    -o-object-fit: scale-down;
    object-fit: scale-down
}

.objectBottom {
    -o-object-position: bottom;
    object-position: bottom
}

.objectCenter {
    -o-object-position: center;
    object-position: center
}

.imageBG {
    background-color:darkgray;
}